@use "variables" as vars;

.border_black {
  border: 1px solid vars.$md_black;
}

.border_white {
  border: 1px solid vars.$md_white;
}

@each $name,
$nums in vars.$md_color_map {

  @each $num,
  $color in $nums {
    .border_#{$name}_#{$num} {
      border: 1px solid $color;
    }
  }
}