@use "variables" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

html {
  font-size: vars.$basic_font_size;
  overflow-y: scroll;
}

body {
  font-family: Meiryo;
  color: #333333;
}

h1 {
  font-size: vars.$basic_font_size * 2;
}

h2 {
  font-size: vars.$basic_font_size * 1.8;
}

h3 {
  font-size: vars.$basic_font_size * 1.6;
}

small {
  font-size: vars.$basic_font_size * 0.8;
}

footer,
header,
label {
  display: block
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}