@use "colors" as colors;

$basic_font_size: 16px;
$aligns: left, center, right;

// ===========================================
// common
// ===========================================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

html {
  font-size: $basic_font_size;
  overflow-y: scroll;
}

body {
  font-family: Meiryo;
  color: #333333;
}

h1 {
  font-size: $basic_font_size * 2;
}

h2 {
  font-size: $basic_font_size * 1.8;
}

h3 {
  font-size: $basic_font_size * 1.6;
}

small {
  font-size: $basic_font_size * 0.8;
}

footer,
header,
label {
  display: block
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

// ===========================================
// color
// ===========================================
.text_black {
  color: colors.$md_black;
}

.text_white {
  color: colors.$md_white;
}

@each $name,
$nums in colors.$md_color_map {

  @each $num,
  $color in $nums {
    .text_#{$name}_#{$num} {
      color: $color;
    }
  }
}

// ===========================================
// background-color
// ===========================================
.bg_black {
  background-color: colors.$md_black;
}

.bg_white {
  background-color: colors.$md_white;
}

@each $name,
$nums in colors.$md_color_map {

  @each $num,
  $color in $nums {
    .bg_#{$name}_#{$num} {
      background-color: $color;
    }
  }
}

// ===========================================
// border
// ===========================================
.border_black {
  border: 1px solid colors.$md_black;
}

.border_white {
  border: 1px solid colors.$md_white;
}

@each $name,
$nums in colors.$md_color_map {

  @each $num,
  $color in $nums {
    .border_#{$name}_#{$num} {
      border: 1px solid $color;
    }
  }
}


// ===========================================
// padding
// ===========================================
$i: 2;

@while $i<=32 {
  .p_#{$i} {
    padding-top: #{$i}px;
    padding-right: #{$i}px;
    padding-bottom: #{$i}px;
    padding-left: #{$i}px;
  }

  .px_#{$i} {
    padding-right: #{$i}px;
    padding-left: #{$i}px;
  }

  .py_#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }

  .pt_#{$i} {
    padding-top: #{$i}px;
  }

  .pr_#{$i} {
    padding-right: #{$i}px;
  }

  .pb_#{$i} {
    padding-bottom: #{$i}px;
  }

  .pl_#{$i} {
    padding-left: #{$i}px;
  }

  $i: $i + 2;
}

// ===========================================
// margin
// ===========================================
$i: 2;

@while $i<=32 {
  .m_#{$i} {
    margin-top: #{$i}px;
    margin-right: #{$i}px;
    margin-bottom: #{$i}px;
    margin-left: #{$i}px;
  }

  .mx_#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  .my_#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  .mt_#{$i} {
    margin-top: #{$i}px;
  }

  .mr_#{$i} {
    margin-right: #{$i}px;
  }

  .mb_#{$i} {
    margin-bottom: #{$i}px;
  }

  .ml_#{$i} {
    margin-left: #{$i}px;
  }

  $i: $i + 2;
}

// ===========================================
// width
// ===========================================
.w_1per {
  width: 1%;
}

$i: 0;

@while $i<=100 {
  .w_#{$i}per {
    width: #{$i}+'%';
  }

  $i: $i + 5;
}

// ===========================================
// other
// ===========================================
.d_block {
  display: block;
}

.d_inline_block {
  display: inline-block;
}

.c_pointer {
  cursor: pointer;
}

@each $a in $aligns {
  .align_#{$a} {
    text-align: $a;
  }
}

.block_center {
  margin: 0 auto;
}